.layout-nal-document-gallery .gallery .exhibit-item, 
.layout-nal-document-gallery .gallery .exhibit-item:nth-of-type(2n) {
    width: 24%;
    margin-right: 1.25%;
}

.layout-nal-document-gallery .gallery .exhibit-item:nth-of-type(4n) {
    margin-right: 0;
}


.layout-nal-document-gallery .gallery.with-showcase {
    margin-bottom: .5em;
}

.layout-nal-document-gallery .gallery.with-showcase .exhibit-item {
    width: 49%;
    margin-right: 2%;
}

.layout-nal-document-gallery .gallery.with-showcase .exhibit-item:nth-of-type(2n) {
    margin-right: 0;
}


.layout-nal-document-gallery .gallery-showcase,
.layout-nal-document-gallery .gallery.with-showcase,
.layout-nal-document-gallery .gallery.left, 
.layout-nal-document-gallery .gallery.right {
    width: 49%;
}

.layout-nal-document-gallery .gallery-showcase.left,
.layout-nal-document-gallery .gallery.left {
    float: left;
    margin-right: 2%;
}

.layout-nal-document-gallery .gallery-showcase.right,
.layout-nal-document-gallery .gallery.right {
    float: right;
    margin-left: 2%;
}

.layout-nal-document-gallery .gallery-showcase.right.with-left +
.gallery.with-showcase.left {
    margin-right: 0;
}

.layout-nal-document-gallery a {
    border-bottom: 0;
}

.layout-nal-document-gallery .exhibit-item-link *,
.layout-nal-document-gallery .download-file * {
    margin-bottom: 2%;
}

.layout-nal-document-gallery .exhibit-item {
    display: table-cell;
    vertical-align: top;
    margin-bottom: 1.25%;
}
.layout-nal-document-gallery {
    width:100%;
    margin-left:1.25%;
}

.layout-nal-document-gallery .document-row {
    width:100%;
    text-align:left;
    display:table-row;
}


.layout-nal-document-gallery .breakrow {
    width:100%;
    height:2%;
    clear:both;
}
 
.layout-nal-document-gallery .gallery-showcase.left.with-right +
.gallery.with-showcase.right {
    margin-left: 0;
}

.layout-nal-document-gallery .gallery-showcase.right.with-left {
    margin-left: 2%;
}

.layout-nal-document-gallery .gallery.with-showcase.left {
    clear: left;
}

.layout-nal-document-gallery .gallery.with-showcase.right {
    clear: right;
}

.layout-nal-document-gallery .gallery.with-showcase img {
    max-width: 100%;
}

.layout-nal-document-gallery .exhibit-item-caption p {
    margin: 0 0 2% 0;
    clear: both;
    width: 90%;
    text-align: left;
}

.layout-nal-document-gallery .exhibit-item-caption h3 {
    margin: 0 0 2% 0;
    clear: both;
    width: 90%;
    text-align: left;
    font-size:16px;
}

